/* You can add global styles to this file, and also import other style files */
@import "bootstrap";



.full-width {
  width: 100%;
  margin-bottom: 10px;
}


.page-container {
  margin-top: 10px;
}
