<div class="row pt-2" *ngIf="!this.loading">
  <div class="form-group border-1">
    <label>Install method</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="installMethod" [value]="InstallMethod.SymLink" id="installMethod-symlink" [checked]="launcherOptions.installMethod === InstallMethod.SymLink"
             (change)="updateInstallMethod($event)" [disabled]="!this.isSymlinksSupported">
      <label class="form-check-label" for="installMethod-symlink">
        Symlink files (recommended)
      </label>
      <i class="fa fa-circle-info ms-2" ngbTooltip="Symlinks are not supported on this system" *ngIf="!this.isSymlinksSupported"></i>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="installMethod" [value]="InstallMethod.CopyFiles" id="installMethod-copy" [checked]="launcherOptions.installMethod === InstallMethod.CopyFiles"
             (change)="updateInstallMethod($event)">
      <label class="form-check-label" for="installMethod-copy">
        Copy files
      </label>
    </div>
    <small>Changing this will reinstall any installed mods</small>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="btn btn-danger me-2" (click)="resetOptions()">Reset</button>
    <button class="btn btn-success me-2" (click)="saveOptions()">Save options</button>
  </div>
</div>
