
<div class="container-xl page-container">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-2" *ngIf="!isOnOptionsPage()">
              <button class="btn btn-outline-primary" (click)="toggleModsView()">{{getModsButtonText()}}</button>
            </div>
            <div class="col-2" *ngIf="isOnOptionsPage()">
              <button class="btn btn-primary" (click)="goHome()">Return</button>
            </div>
            <div class="col-5">
              <button class="btn btn-outline-primary">Patches for General Zero Hour</button>
            </div>
            <div class="col-5">
              <button class="btn btn-outline-primary">Addons for General Zero Hour</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary full-width" (click)="startGame()">Launch Game</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary full-width">World Builder</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary full-width" (click)="showOptions()">Options</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary full-width" (click)="showCredits()">Credits</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary full-width">Exit</button>
        </div>
      </div>
      <div class="row">
        <table>
          <tr>
            <td>GenTool</td>
            <td>
              <i *ngIf="this.installationStatus == null" class="fa fa-spin fa-spinner"></i>
              <i *ngIf="this.installationStatus != null && this.installationStatus.genTool" class="fa fa-check text-success"></i>
              <i *ngIf="this.installationStatus != null && !this.installationStatus.genTool" class="fa fa-times text-danger"></i>
            </td>
            <td>
              <button class="btn btn-success btn-sm" (click)="installGenTool()" *ngIf="!this.installationStatus.genTool && !this.installingGenTool">Install</button>
              <i class="fa fa-spinner fa-spin" *ngIf="this.installingGenTool"></i>
            </td>
          </tr>
          <tr>
            <td>Modded Launcher</td>
            <td>
              <i *ngIf="this.installationStatus == null" class="fa fa-spin fa-spinner"></i>
              <i *ngIf="this.installationStatus != null && this.installationStatus.moddedLauncher" class="fa fa-check text-success"></i>
              <i *ngIf="this.installationStatus != null && !this.installationStatus.moddedLauncher" class="fa fa-times text-danger"></i>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div class="col">
          <p>{{this.steamPath}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
